@model ProductModel
@{
    ViewData["title"] = "Thêm Sản Phẩm";
}
<h2 class="my-4 text-center">THÊM SẢN PHẨM</h2>
<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group">
            <label>Tên Sản Phẩm</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Giá</label>
            <input asp-for="Price" pattern="[0-9.,]+" class="form-control typing-price" />
            <span id="price-convert"></span>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label>Mô Tả</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Loại</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option>--Chọn loại--</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Thương Hiệu</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
                <option>--Chọn thương hiệu--</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Hình Sản Phẩm</label>
            <input asp-for="ImageUpload" class="form-control-file" />
            <span asp-validation-for="ImageUpload" class="text-danger"></span>
            <img id="imgpreview" class="pt-2" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Thêm</button>
        </div>
    </form>
    <a asp-action="Index">Quay về</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#ImageUpload").change(function(){
            readURL(this);
        })

    </script>
    <script>
        $(".typing-price").on("keyup", function() {
            var currency_input = $(this).val();
            $("#price-convert").html(
                new Intl.NumberFormat('vn-VN', {style: 'currency', currency: 'VND'}).format(currency_input),
            );
        });
    </script>
}
